extends layout

block content
  h1= title
  p Welcome to My Page #{title}
  <button type="button" class="btn btn-secondary">Press Me</button>
  div#reduce
   Reduce the value.
   script.
    var count = 20;
    var change = -1;
    function doReduce() {
      count += change;
      change--;
      document.getElementById("reduce").innerHTML = "Count " + count + " with change " + change;
    }
<<<<<<< HEAD
  button(onclick="doReduce()") Click me
=======
  button(onclick="doReduce()") Click me
  
  a(href="/school") School Page
>>>>>>> 42f89723e89c89cc6973af92a97e51bf77bae353
